    body {background-color: #dddddd; margin: 0px; text-align: left; font-size: 40px; border:16px solid blue; font-weight: bold;}
        header { text-align: center; background-color: #dddddd;}
        header nav ul { display: flex; justify-content: space-around; padding: 0; margin: 0; font-size: 35px;  border-bottom: 16px solid #000000;}
        ul { list-style: none;  padding: 0;}
        a {  text-decoration: none;}
        a:hover { color: green;  background-color: yellow;text-decoration: underline; }
        footer { background-color: brown;  color: navy;   border: 16px dashed yellow;}
        h1 { font-size: 50px;font-family: 'Sixtyfour', sans-serif;  }
		
		@keyframes cabecera {
0% { color: red;  }
15% {color: orange; }
30% {color: yellow; }
45% {color: green; font-size: 65px}
60% {color: blue; }
75% {color: purple; }
	100%{ color: black; }
	}


h1 {animation-name:cabecera; animation-duration:10s;}